@model BookShop.Models.Province
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                لیست شهرهای استان @Model.ProvinceName
            </div>
            <div class="card-body">
                <ul class="bg-info p-5 text-right">
                    @foreach (var item in Model.Cities)
                    {
                    <li class="ml-5 d-inline">@item.CityName</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

